.jacket-details {
    display: inline;
    margin-left: 8%;
}

.product-image {
    width: 66%;
}
.jacketdetails__images,
.jacketdetails__intro_form,
.jacketdetails__details h2,
.jacketdetails__reviews h2 {
    text-align: center;
}
.jacketdetails__images {
    grid-area: jacketdetails_img;
}
.jacketdetails__intro_form {
    grid-area: jacketdetails_intro_form;
}
.jacketdetails__details h2 {
    margin-top: 5em;
}

.jacketdetails__details {
    display: contents;
    grid-area: jacketdetails_details;
}
.jacketdetails__reviews {
    grid-area: jacketdetails_reviews;
}
.jacketdetails__reviews i {
    margin-left: 5%;
}
.product-specific__price {
    font-family: var(--font-header), Verdana, sans-serif;
    text-align: center;
    color: #0a3641;
    font-size: 3em;
    margin: 40px 0px 30px 0px;
}
.product-image_thumbnails {
    display: block;
}

.product-image_thumbnails img {
    border: 2px solid black;
    margin: 10px 10px 0px 0px;
}
.jacketdetails__intro_form p {
    padding: 0px;
    line-height: 0.6em;
}
.jacketdetails__intro_form p a,
.jacketdetails__details a {
    display: inline-block;
    margin-bottom: 40px;
    color: var(--color_textlink);
}
.jacketdetails__intro_form p a:hover,
.jacketdetails__details a:hover {
    text-decoration: none;
}

.jacketdetails__reviews img {
    margin-left: 40px;
}
.jacketdetails__reviews blockquote {
    font-family: var(--font-header), Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}
.jacketdetails__reviews p {
    width: 90%;
    text-align: right;
}

.jacketdetails__details p {
    margin: 0px 5% 5% 5%;
}

.thumbimage {
    cursor: pointer;
    background: currentColor;
}
/* Gender Form */
.form_orderdetails {
    border: 2px solid black;
    border-radius: 15px;
    max-width: 70%;
    padding: 10px;
    background-color: var(--color_texture_bg);
    display: inline-block;
}
.form_orderdetails fieldset {
    border: none;
    display: flex;
    margin-left: 0px;
    padding-left: 0px;
    font-family: var(--font-header), Verdana, sans-serif;
    justify-content: center;
}

.form_orderdetails legend {
    margin-bottom: 0.4em;
}

input[type="radio"] + label {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 4px;
}
input[type="radio"]:checked + label {
    background-color: var(--color_radiobutton_marker_smallscreen);
}
button.jacket-cta {
    margin-top: 0px;
    cursor: pointer;
    margin-bottom: 25px;
}

button.checkout {
    background-color: var(--color_cta_product_sale);
}

#added {
    background: var(--color_cta_product_sale);
}
